* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
    transition: 0.4s;
}

    input[type=submit]:hover {
        background: rgb(253, 123, 29);
        transform: scale(1.2);
        background-size: 120%;
    }

/* Style the container/contact section */
.container {
    margin-top: 150px;
    border-radius: 5px;
    padding: 10px;
}



.tell {
    font-size: 25px;
    color: goldenrod;
}

.heading {
    color: orange;
    font-size: 50px;
}
/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
